.star{
  animation: twinkle 2s infinite;

  opacity: 0.5;
  transform: scale(1);
  &.top-left{
    top: 5%;
    left: 5%;
    animation-delay: 0.5s;
  }
  &.top-right{
    top: 5%;
    right: 5%;
    animation-delay: 1s;
  }
  &.bottom-left{
    bottom: 5%;
    left: 5%;
    animation-delay: 1.5s;
  }
  &.bottom-right{
    bottom: 5%;
    right: 5%;
    animation-delay: 2s;
  }
  
  
}
@keyframes twinkle {
  0% {
    opacity: 0.5;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(2);
  }
  100% {
    opacity: 0.5;
    transform: scale(1);
  }
}