.float-l {
  float: left;
}
.float-r {
  float: right;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.pos {
  &-rel {
    position: relative;
  }
  &-abs {
    position: absolute;
  }
  &-fixed {
    position: fixed;
  }
  &-bottom {
    bottom: 0;
  }
  &-left {
    left: 0;
  }
  &-right {
    right: 0;
  }
  &-top {
    top: 0;
  }
}

.center {
  &-x {
    left: 50%;
    transform: translateX(-50%);
  }
  &-y {
    top: 50%;
    transform: translateY(-50%);
  }
  &-xy {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.split-2 {
  width: 50%;
}
.full-width{
  width:100%
}
.ta {
  &-center {
    text-align: center;
    @include breakpoint(desktop){
      &-nd{
        text-align: center;
      } 
     }
     @include breakpoint(phone){
       &-m{
        text-align: center;
       }
     }
  }

  &-left {
    text-align: left;
  }
  &-right {
    text-align: right;
  }
}


.pointer{
  cursor: pointer;
}

.skill-box{
  padding:4px 6px;
  border-radius: 4px;
  background-color: $color-primary-500;
  color: $color-white;
  font-size: 12px;
  font-weight: 600;
  margin-right: 8px;
  margin-bottom: 8px;
  display: inline-block;
}
.toast-message{
  position: fixed;
  max-width:700px;
  padding: 10px;
  max-height: 40px;
  background-color: $color-success-900;
  top:calc(100% + 80px);
  transition: all 0.2s ease-in-out;
  &.show{
    top: calc(100% - 80px);
  }
}
.hamburger-icon{
  width: 20px;
  &::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: $color-white;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
  }
  &::after{
    content: "";
    position: absolute;
    top: 12px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: $color-white;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
  }
  &.open{
    &::before{
      transform: rotate(45deg);
      top:5px;
    }
    &::after{
      transform: rotate(-45deg);
      top:5px;
    }
  }
}
.list-item{
  max-height: 480px;
  overflow-y:auto;
  word-wrap: break-word;
  list-style: square;
  a{
    color: $color-white;
  }
}

.blinking-cursor::after{
  content: "";
  display: inline-block;
  width: 2px;
  height: 100%;
  background-color: $color-orange;
  vertical-align: middle;
  animation: blinking-cursor 1s infinite;
}
@keyframes blinking-cursor{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
.waving-hand {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}
@keyframes wave-animation {
  0% { transform: rotate( 0.0deg) }
 10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
 20% { transform: rotate(-8.0deg) }
 30% { transform: rotate(14.0deg) }
 40% { transform: rotate(-4.0deg) }
 50% { transform: rotate(10.0deg) }
 60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
100% { transform: rotate( 0.0deg) }
}
