.float-l {
  float: left;
}
.float-r {
  float: right;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.pos {
  &-rel {
    position: relative;
  }
  &-abs {
    position: absolute;
  }
  &-fixed {
    position: fixed;
  }
  &-bottom {
    bottom: 0;
  }
  &-left {
    left: 0;
  }
  &-right {
    right: 0;
  }
  &-top {
    top: 0;
  }
}

.center {
  &-x {
    left: 50%;
    transform: translateX(-50%);
  }
  &-y {
    top: 50%;
    transform: translateY(-50%);
  }
  &-xy {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.split-2 {
  width: 50%;
}
.full-width{
  width:100%
}
.ta {
  &-center {
    text-align: center;
    @include breakpoint(desktop){
      &-nd{
        text-align: center;
      } 
     }
     @include breakpoint(phone){
       &-m{
        text-align: center;
       }
     }
  }

  &-left {
    text-align: left;
  }
  &-right {
    text-align: right;
  }
}


.pointer{
  cursor: pointer;
}

.skill-box{
  padding:4px 6px;
  border-radius: 4px;
  background-color: $color-primary-500;
  color: $color-white;
  font-size: 12px;
  font-weight: 600;
  margin-right: 8px;
  margin-bottom: 8px;
  display: inline-block;
}
.toast-message{
  position: fixed;
  max-width:700px;
  padding: 10px;
  max-height: 40px;
  background-color: $color-success-900;
  top:calc(100% + 80px);
  transition: all 0.2s ease-in-out;
  &.show{
    top: calc(100% - 80px);
  }
}
.hamburger-icon{
  width: 20px;
  &::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: $color-white;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
  }
  &::after{
    content: "";
    position: absolute;
    top: 12px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: $color-white;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
  }
  &.open{
    &::before{
      transform: rotate(45deg);
      top:5px;
    }
    &::after{
      transform: rotate(-45deg);
      top:5px;
    }
  }

}