.heading {
	font-size: 32px;
	line-height: normal;
	&-sm {
		font-size: 20px;
		line-height: 23px;
	}
	&-lg {
		font-size: 48px;
		line-height: normal;
		@include breakpoint(desktop){
			font-size: 32px;
     }
	}
	&-xl{
		font-size: 60px;
		line-height: normal;
		@include breakpoint(desktop){
			font-size: 48px;
     }
    @include breakpoint(phone){
      font-size: 32px;
    }
	}
}
.text {
	font-size: 16px;
	&-xs {
		font-size: 10px;
	}
	&-sm {
		font-size: 12px;
	}
	&-md {
		font-size: 14px;
		&-variant {
			font-size: 15px;
			line-height: 18px;
		}
	}
	&-lg {
		font-size: 18px;
	}
	&-xl {
		font-size: 24px;
	}
}

.fw {
	&-light {
		font-weight: 300;
	}
	&-regular {
		font-weight: 400;
	}
	&-semibold {
		font-weight: 600;
	}
	&-bold {
		font-weight: 700;
	}
}
.tc {
	&-primary {
		color: $color-black;
		&-dark {
			color: $color-black-900;
		}
	}
	&-white {
		color: $color-white;
	}
	&-grey {
		color: $color-grey;
		&-light {
			color: $color-grey-800;
		}
	}
	&-orange{
		color: $color-orange;
	}
	&-invalid {
		color: $color-invalid;
	}
	&-warning {
		color: $color-warning;
	}
	&-success {
		color: $color-success;
	}
	&-info {
		color: $color-info;
	}
}
.t {
	&-allcaps {
		text-transform: uppercase;
	}
	&-capitalise {
		text-transform: capitalize;
	}
	&-italic {
		font-style: italic;
	}
}