$color-black: #202A3C;
$color-black-900:#2F4858;

$color-white: #FFF;
$color-white-900:#FBFCFD;
$color-white-800: #F8F8F8;
$color-white-700:#F3F3F3;


$color-grey: #AAAAAA; 
$color-grey-900: #D1D1D1; 
$color-grey-800: #787878;
$header-border: #E0E0E0;
$color-dark-blue: #296C86;



$color-orange: #E36D25;

$color-invalid:  #D8000C;
$color-warning: #9F6000;
$color-success: #42BB2F;
$color-success-900: #55D680;

$color-info:#4285F4;
$spacing: (1:"4px",2:"8px",3:"12px",4:"16px",5:"20px",6:"24px",7:"28px",8:"32px",9:"36px",10:"40px",12:"50px",14: "60px", 16:"80px",18:"100px", 20: "120px");

$desktop:1024px;
$phone:768px;