.main{
  background: linear-gradient(to bottom,#0A1748,#001F3F,#000000);
  overflow: auto;
  &-section{
    max-height: 800px;
    height: 100vh;
    width: 100%;
    transition: all 0.2s ease-in;
    transform: translateY(50px);
    overflow: hidden;
    opacity: 0;
    padding-top:80px;
    &.slide-in{
      transform: translateY(0);
      opacity: 1;
    }
  }
  
}
.icon-list{
  max-width: 400px;
  &-item {
    position: relative;
    cursor: pointer;
    &::before {
      content: attr(data-tooltip);
      position: absolute;
      top: -1.5em;
      text-transform: capitalize;
      font-size: 24px;
      padding: 1px 5px;
      opacity: 0;
      transform: translate(-50%, 0);
      background: rgba(0, 0, 0, 0.75);
      border-radius: 4px;
      transition: opacity 0.1s ease-out;
      z-index: 99;
      text-align: left;
    }
    &:hover{
      &::before{
        display: inline-block;
        opacity: 1;
        transform: translate(0, 0);
      }
      
    }
  }
  
}