$pink: rgb(255, 82, 191);
$light-pink: rgb(255, 143, 216);
$light-red: rgb(255, 66, 66);
$color-white: rgb(255, 255, 255);
$dark-cyan: rgb(0, 37, 46);
$pale-blue: rgb(245, 250, 255);
$bg-color: rgb(246, 251, 255);
$desktop:1024px;
$phone:768px;



$spacing: (1: 5px, 2: 10px, 3: 15px, 4: 20px, 5: 25px, 6: 30px, 8: 40px, 10: 50px);